body {
    font-family: Arial, sans-serif;
    background-color:lightsalmon;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
    /* color: #333;
    text-align: center; */
  }
  
  form {
    /* text-align: center; */
    margin-top: 0px;
  }
  
  textarea {
    width: 400px;
    height: 200px;
    background-color:#fff;
    /* padding: 10px; */
    border-radius: 10px;
    box-shadow: 8px 8px 4px #333333;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    margin-top: 15px;
    box-shadow: 8px 8px 4px #333333;
    background-color:#e50f0f;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #4CAF50;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }
  